section {
  background-color: #f8f9fa;
}

form {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: 500;
}
.vh-100{
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
